<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Dashboard Sidebar Menu</title> 
    
</head>
<body>
    <nav class="sidebar close">
        
        <header>
            <div class="image-text">
                {% for p in profil %}
                <span class="image">
                    <img src="{{ p.rasim.url }}" alt="">
                </span>

                <div class="text logo-text">
                    <!-- <span class="name"></span> -->
                    <span class="profession">{{ p.title }}</span>
                </div>
                {% endfor %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
        

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Uy</span>
                        </a>
                    </li>
                    {% for d in darslik %}
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">{{ d.raqam }}</span>
                        </a>
                    </li>
                    {% endfor %}

                    

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'home' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">chiqish</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        
        <div class="text">
          <h2>{{ pro.title }}</h2>
          <p>{{ pro.body }}</p>
          <p>{{ pro.vaqt }}</p>

          {% for d in darslik %}
          <img style="width: 100%; height: 100vh;   background: linear-gradient(45deg, rgb(88, 77, 77), rgb(1, 1, 19));  background-position: center; background-repeat: no-repeat;"  src="{{ d.img.url }}" alt="">
          <h2>{{ d.mavzu }}</h2>
          <p style="font-size: 16px;">{{ d.dars }}</p>
          {% endfor %}

        </div>
       
    </section>

    <script src="{% static './js/script.js' %}"></script>

</body>
</html>